/** Geral **/

* {
  margin: 0;
  box-sizing: border-box;
}

/** Tela inicial **/

body,
html {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

/** Painel lateral esquerdo **/

#logo-iesb {
  position: relative;
  width: 100px;
  height: 120px;
}

figure {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 800;
  font-size: 15px;
  font-family: monospace;
  align-items: center;
}

figcaption {
  color: rgb(0, 0, 0);
  margin-top: 20px;
}

header {
  position: relative;
  background-color: rgba(255, 255, 255, 0.452);
  padding: 20px;
  border-right: 1px solid rgba(128, 128, 128, 0.534);
}

/** Navegação dos menus **/

#logo_menu {
  display: flex;
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-width: 200px;
}

nav .span-menu-generico {
  width: 100%;
  cursor: pointer;
  height: 100%;
}

.span-menu-generico {
  display: flex;
  border: none;
  color: rgb(0, 0, 0);
  align-items: center;
  text-align: center;
  font-size: 15px;
  opacity: 0.6;
  transition: 0.5s;
  font-family: monospace;
}

.span-menu-generico:hover {
  border-radius: 20px;
  color: #b70b0d;
  opacity: 1;
}

.hover-span-menu-generico {
  border-radius: 20px;
  font-size: 17px;
  color: #b70b0d;
  opacity: 1;
}

.texto-menu-generico {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
}

.texto-menu-generico:hover {
  font-size: 17px;
}

/** Painel contendo informação dos menus **/

.show_pannel {
  display: flex !important;
}

.hide_pannel {
  display: none !important;
}

/** Tela de introdução **/

.fa-trash {
  cursor: pointer;
}

.fa-wrench {
  cursor: pointer;
  color: #20aada;
}

.fa-caret-square-down:before {
  cursor: pointer;
}
