/** Painel lateral esquerdo **/

/** Navegação dos menus **/

nav {
  max-width: 200px;
}

nav .span-menu-generico {
  width: 100%;
  cursor: pointer;
  height: 100%;
}

.span-menu-generico {
  display: flex;
  border: none;
  color: rgb(0, 0, 0);
  align-items: center;
  text-align: center;
  font-size: 15px;
  opacity: 0.6;
  transition: 0.5s;
}

.span-menu-generico:hover {
  border-radius: 20px;
  color: #b70b0d;
  opacity: 1;
}

.hover-span-menu-generico {
  border-radius: 20px;
  font-size: 17px;
  color: #b70b0d;
  opacity: 1;
}

.texto-menu-generico {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
}

.texto-menu-generico:hover {
  font-size: 17px;
}

/** Painel contendo informação dos menus **/

.show_pannel {
  display: flex !important;
}

.hide_pannel {
  display: none !important;
}

/** Tela de introdução **/

.fa-trash {
  cursor: pointer;
}

.fa-wrench {
  cursor: pointer;
  color: #20aada;
}

.fa-caret-square-down:before {
  cursor: pointer;
}
