/** Arquitetura de banco de dados **/

#tela-arq-db {
  width: 100%;
  height: 100%;
}

.db-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.db-label_busca_dinamica {
  width: 100%;
  padding: 10px;
}

#db_input_busca_dinamica {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}

#db_pesquisa_filtrada {
  cursor: pointer;
  text-decoration: none;
  font-family: monospace;
  font-size: 15px;
  padding: 10px;
  border: 1px solid transparent;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 0.25rem;
}

#db-label-busca-dinamica {
  font-size: 20px;
}

.db-content {
  border: 1px solid rgba(128, 128, 128, 0.384);
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
