/** Geral **/

* {
  margin: 0 auto;
  box-sizing: border-box;
}

/** Tela inicial **/

body,
html {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

/** Painel lateral esquerdo **/

#logo-iesb {
  position: relative;
  width: 100px;
  height: 120px;
}

figure {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 800;
  font-size: x-large;
  font-family: monospace;
}

figcaption {
  color: rgb(0, 0, 0);
  margin-top: 20px;
}

header {
  position: relative;
  background-color: rgba(255, 255, 255, 0.452);
  padding: 20px;
  border-right: 1px solid rgba(128, 128, 128, 0.534);
}

/** Navegação dos menus **/
nav {
  height: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

nav span {
  width: 100%;
  cursor: pointer;
  height: 100%;
}

.span-menu-generico {
  display: flex;
  border: none;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.5s;
}

.span-menu-generico:hover {
  background-color: rgba(255, 0, 0, 0.438);
  border-radius: 20px;
  opacity: 1;
}

.texto-menu-generico {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** Painel contendo informação dos menus **/

main {
  position: relative;
  overflow: auto;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.363);
  padding: 20px;
}

.container {
  border: 1px solid rgba(128, 128, 128, 0.384);
  padding: 20px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/** Tela de introdução **/

#tela-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tela-home h1 {
  background-color: rgba(128, 128, 128, 0.151);
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px rgba(128, 128, 128, 0.568);
}

/** Telas dos menus **/

/** Arquitetura de servidores **/

.as-label_busca_dinamica {
  width: 100%;
  padding: 10px;
}

#as-input_busca_dinamica {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}

#as-label-busca-dinamica {
  font-size: 20px;
}
